<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Great Times Ahead</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="container">
		<nav>
		<ul>
			<li><strong><a href="/">The Tech Frontier</a></strong></li>
		</ul>
		<ul>
			{{#if logged_in}}
				<li><a href="/logout">Logout</a></li>
			{{else}}
				<li><a href="/login">Sign up</a></li>
				<li><a href="/login" role="button">Login</a></li>
			{{/if}}
		</ul>
		</nav>
	</div>
	<div class="container">
		{{{ body }}}
	</div>
</body>

</html>
