<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Great Times Ahead</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <script src='https://kit.fontawesome.com/0e4736c2df.js' crossorigin='anonymous'></script>
</head>

<body>
	<div class="container" style="margin-bottom: 25px;">
		<nav>
		<ul>
			<li><strong><a href="/">The Tech Frontier</a></strong></li>
		</ul>
		<ul>
			{{#if logged_in}}
				<li><a href="/dashboard">Dashboard</a></li>
				<li id='logout' role="button">Logout</li>
			{{else}}
				<li><a href="/login">Sign up</a></li>
				<li><a href="/login" role="button">Login</a></li>
			{{/if}}
		</ul>
		</nav>
	</div>
	<div class="container">
		{{{ body }}}
	</div>

{{#if logged_in}}
	<script src="/js/logout.js"></script>
{{/if}}

</body>
</html>
