
<main class="container" style="margin-top: 50px;">
    <div class="grid" >
        <article >
            <h3 class="text-center">Sign up</h3>
            <form class="signup-form">
                <input type="text" name="Username" placeholder="Username" aria-label="Username" autocomplete="Username" id="username-signup">
                <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" id="password-signup">
                <button type="submit" class="contrast">Sign up</button>
            </form>
        </article>
        <article>
            <h3>Login in</h3>
            <form class="login-form">
                <input type="text" name="login" placeholder="Username" aria-label="Login" autocomplete="nickname" id="name-login">
                <input type="password" name="password" placeholder="Password" aria-label="Password" autocomplete="current-password" id="password-login">
                <button type="submit" class="contrast">Login</button>
            </form>
        </article>
    </div>
</main>

<script src="../js/login.js"></script>
